$font-stack: "맑은고딕", "dotum";
$primary-color: #666666;

body {
	font: 100% $font-stack;
	color: $primary-color;
	font-size: 3em;
	background-color: white;
}

h1{
	font-weight: bold;
}

h2{
	font-weight: bold;
}